* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #232427 ;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 12000px;
    padding: 100px 0 50px;
}

.container .card {
    position: relative;
    min-width: 320px;
    height: 500px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,.2);
    border-radius: 15px;
    margin: 30px;
}

.container .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;  
    background: grey;  
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .4s, box-shadow .4s;
}

.container .card:hover .box 
{
    transform: translateY(-50px);
    box-shadow: 0 40px 70px rgba(0,0,0,.5);
}

.container .card .box .content 
{
    padding: 20px;
    text-align: center;
} 

.container .card .box .content .icon 
{
    position: relative;
    width: 80px;
    height: 80px;
    background: red;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 10px;
}

.toggle {
    position: absolute;
    top: 20px;
    left: calc(50% - 30%);
    width: 60px;
    height: 60px;
    background: grey;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle::before {
    content: '\f185';
    font-family: fontAwesome;
    font-size: 24px;
}

body.light .toggle {
    background: green;
    color: white;
}

body.light .toggle::before {
    content: '\f186';
}

body.light {
    background: black;
}